Repository boisedude/mancala-game: changes, and which lint-staged commands are due for each by the changed paths.
All: node node_modules/eslint/bin/eslint.js --fix, node node_modules/prettier/bin/prettier.cjs --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "node node_modules/eslint/bin/eslint.js --fix",
    "node node_modules/prettier/bin/prettier.cjs --write"
  ],
  "*.{json,css,md}": ["node node_modules/prettier/bin/prettier.cjs --write"]
}

Temporarily remove workflow for initial push
  .github/workflows/ci.yml
Due: none

Add CI/CD workflow for automated testing and builds
  .github/workflows/ci.yml
Due: none

Fix technical debt: achievement bug, constants, cleanup
  .gitignore
  CLAUDE.md
  PROJECT_PLAN.md
  README.md
  package-lock.json
  package.json
  src/components/LeaderboardDialog.tsx
  src/components/SettingsDialog.tsx
  src/hooks/useAchievements.ts
  src/hooks/useBentleyStats.ts
  src/hooks/useGameAudio.ts
  src/hooks/useGamePersistence.ts
  src/hooks/useGameSettings.ts
  src/hooks/useLeaderboard.ts
  src/hooks/useMancalaGame.ts
  src/lib/aiStrategies.ts
  src/pages/MancalaGame.tsx
Due: node node_modules/eslint/bin/eslint.js --fix, node node_modules/prettier/bin/prettier.cjs --write

Update license to MIT with Play Coop Games copyright
  LICENSE
  package.json
Due: node node_modules/prettier/bin/prettier.cjs --write

Remove CI workflow
  .github/workflows/ci.yml
Due: none

Fix code quality issues from comprehensive audit
  package-lock.json
  src/hooks/useBentleyStats.ts
  src/pages/MancalaGame.tsx
Due: node node_modules/eslint/bin/eslint.js --fix, node node_modules/prettier/bin/prettier.cjs --write

Improve code quality, add tests, and enhance UX
  package-lock.json
  package.json
  postcss.config.cjs
  src/App.tsx
  src/__tests__/aiStrategies.test.ts
  src/__tests__/mancalaRules.test.ts
  src/__tests__/useMancalaGame.test.ts
  src/components/Board.tsx
  src/components/GameControls.tsx
  src/components/Pit.tsx
  src/components/Stone.tsx
  src/components/Store.tsx
  src/components/Tutorial.tsx
  src/components/VictoryDialog.tsx
  src/components/graphics/BoardPattern.tsx
  src/components/graphics/VictoryGraphic.tsx
  src/components/ui/button.tsx
  src/components/ui/buttonVariants.ts
  src/hooks/useAchievements.ts
  src/hooks/useGameAudio.ts
  src/hooks/useGamePersistence.ts
  src/hooks/useGameSettings.ts
  src/hooks/useHapticFeedback.ts
  src/hooks/useLeaderboard.ts
  src/index.css
  src/lib/constants.ts
  src/lib/storageKeys.ts
  src/pages/MancalaGame.tsx
  src/types/mancala.types.ts
  tailwind.config.js
  vite.config.ts
Due: node node_modules/eslint/bin/eslint.js --fix, node node_modules/prettier/bin/prettier.cjs --write
